*.o
bin/gpuspec
bin/massage_vpm
bin/raw2wu
bin/raw_ascii2
bin/raw_head
bin/raw_quant
bin/raw_read
bin/rawdopplersearch
bin/rawfilterbank
bin/rawfilterbank_singleband_xy
bin/test_psrfits_read
bin/treedop
bin/two2eight
lib/libsla.so
src/baryacc
src/filterbanksearch
src/filterbanksearchdoppler
src/gpuspec
src/gpuspec2
src/massage_vpm
src/raw2wu
src/raw_ascii2
src/raw_head
src/raw_quant
src/raw_read
src/rawdopplersearch
src/rawfilterbank
src/rawfilterbank_singleband_xy
src/s3test
src/tags
src/test_guppi2spectra
src/test_psrfits_read
src/treedop
src/two2eight
src/slalib/libsla.so
src/slalib/sla_test
setkeys.sh
